.example-spacer {
    flex: 1 1 auto;
  }
  
  #login{
    margin-left: 12px;
  }

  #logo{
    height: 40px;
  }
  a:hover {
    background-color: #caced2;
    color: white;
    border-radius: 5px;
  }